
/* Generic Selectors */

body {
	margin:  0 5%;
	font-family: verdana, Georgia, arial, helvetica, sans-serif;
	font-size: 1em;  /* default size */
	color: #333333;  /* text color */
	background: #000000; /* background color */
}

.heading {
      background:#a52a2a;
      color: #000000;
      padding: 1%;
      margin: 1% 13% 1% 13%;
      padding: 2%;
      text-align:center;
}
.content {
    background: #191970;
    color:white;
    margin: 1% 13% 1% 13%;
    padding: 2%;
    overflow:auto;
}

.border {
          margin: .5% .5%;
          border: 5px solid red;
          padding: 10% 2%;
          overflow:auto;
          text-align:center;
  }

.floatleft {
        width: 40%;
	padding:2%;
	float:left;
      }
.clear {
       clear:both;
       }

.footer{
        font-size:.8em;
	margin:5% 1% 1% 1%;
	border-top: 1px solid white;
        padding:1%;

}
/* now change anchor tag colors */
a:link {
         color: red;
    }
a:visited {
            color:orange;
          }
a:hover { background:white;
          color:#333 000;
        }
